<form class="mt-5 mb-5" method="POST">
    <div class="form-group">
        <label for="old-password" class="mb-3">Old password</label>
        <input type="password" class="form-control" id="old-password" name="old-password" required>
    </div>
    <div class="form-group">
        <label for="new-password" class="mb-3">New password</label>
        <input type="password" class="form-control" id="new-password" name="new-password" required>
    </div>
    <div class="form-group">
        <label for="confirm-password" class="mb-3">Confirm password</label>
        <input type="password" class="form-control" id="confirm-password" name="confirm-password" required>
    </div>
    <button type="submit" class="btn btn-primary btn-change-password">Change password</button>
</form>

<script>

</script>